div{
    border: 1px solid black;
    width: 70px;
    height: 150px;
}
.top{
    background-color: #69a021;
    margin-left: 100px;
    margin-top: 50px;
}
.bottom{
    background-color: rebeccapurple;
    margin-top: 10px;
}